<section class="sys-strip">
  <div class="sys-item">
    <span id="sdDataset" class="sdot r"></span>
    <span id="slDataset">Checking…</span>
  </div>
  <div class="sys-item">
    <span id="sdCNN" class="sdot r"></span>
    <span id="slCNN">CNN</span>
  </div>
  <div class="sys-item">
    <span id="sdSVM" class="sdot r"></span>
    <span id="slSVM">SVM</span>
  </div>
  <div class="sys-item">
    <span id="sdRF" class="sdot r"></span>
    <span id="slRF">RF</span>
  </div>
  <div class="sys-item">
    <span id="sdKNN" class="sdot r"></span>
    <span id="slKNN">KNN</span>
  </div>
</section>